@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Syne Mono', monospace;
}
html,body{
	width: 100%;
	height: 100vh;
}
header{
	width: 100%;
	height: 82px;
	display: flex;
	align-items: center;
    justify-content: flex-end;
    position: fixed;

}
header ul{
	display: flex;
	align-items: center;
	list-style: none;

}
header ul li{
	margin: 12px;
	color: black;
}
a{
	color: black;
	text-decoration: none;
}
header ul li a{
	font-size: 1.5rem;
	color: black;
}
section{
	width: 100%;
	height: 661px;
	background: url(assets/unsplash-7jQh3EiS8Bs.jpg) no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
 	align-items: center;
 	padding-top: 200px;
 	background-attachment: fixed;
 	text-align: center;
 	white-space: nowrap;
}

section h1{
	font-size: 7.5rem;
	position: relative;
	color: black;
      width: 0px;
      border-right: 2px solid rgba(255, 255, 255, 0.75);

      text-align: center;
      overflow: hidden;
	animation: typewriter 10s steps(9) infinite 700ms,
      blinkTextCursor 500ms steps(9) infinite  normal;
}
section p, section a{
	font-size: 2.7rem;
	
}
article {
	width: 100%;
	height: auto;
}
#sobre_mim{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*background: url(assets/des.jpg) no-repeat ;*/
}
#sobre_mim img{
	width: 100%;
	max-width: 120px;
}

#sobre_mim #sobre_mim_text{
	width: 100%;
	height: auto;
	margin-top: 30px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#sobre_mim p {
	    font-size: 1.7rem;
}
#icons{
	display: flex;
	margin: 25px;
}
#icons a {
	margin:14px;
}
article{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#Skils{
	margin-top: 20px;
	flex-direction: column;
	
}
#Skils ul{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}
#Skils ul li {
	margin: 13px;
}
#Skils ul li img{
	width: 100%;
	max-width: 120px;
	border-radius: 10px;
}
#Projetos{
	margin-top: 20px;
	padding: 25px;
	flex-direction: column;
}
.cards{
	width: 100%;
	height: auto;
	padding: 10px;
	display: grid;
	grid-template-columns: minmax(100px, max-content) repeat(auto-fill, 200px) 20%;
	grid-gap: 77px;
}
.cards .card{
	width: 20%;
	height: auto;
 position:relative;
 top:0;
    min-width: 301px;

 cursor: pointer;
     margin-bottom: 136px;
     border-radius: 10px;
}
.cards .card img{
	width:100%; 
	  border-radius: 10px;
	  position: absolute;
	      transition: 0.7s;
}

.cards .card:hover{
  top:-7px;
   transition: all .2s ease-in-out
 }
 .cards .card:hover img{
 	transform: translateY(-180px);
 }

 .cards .card h3{
	color: black;
	text-decoration: none;
	font-size: 1.6rem;
	text-align: center;
    margin-bottom: 29px;
}
.cards .card ul{
	margin-bottom: 5px;
}
.cards .card a{
	margin: 7px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	background-color: #B86B51;
	 background-position: 0% center;
	 margin-top: 7px;

}
.cards .card a:hover{
	background-position: 100% center;	
	-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}
svg{
	color: black;
}

.darkmode{
	color: white;
}
.darkmode svg{
	color: white;
}
/*Animatin*/
@keyframes typewriter {
      0% {
            width: 0%;
      }
      10% {
            width: 0%;
      }
      25% {
            width: 57%;
      }
      75% {
            width: 57%;
      }
      90% {
            width: 0%;
      }
      100% {
            width: 0px;
      }
}

@keyframes text{
	from{
		transform: translateY(66px);
	}
	to{
		transform: translateY(0);
	}
}
@keyframes blinkTextCursor {
      from {
            border-right-color: black;
      }
      to {
            border-right-color: transparent;
      }
}
@media (max-width: 425px){
	h1{
		white-space: normal;
		width: 100%;
	}
}